.about {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
    color: var(--text);
}

.about h1 {
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 15px;
}

.about ul {
    margin-top: 10px;
}